<div class="container myapage">
　<div class="card profile_image" style="width: 18rem;">
　  <% if @user.profile_image.present? %>
　    <%= image_tag @user.profile_image.url, class:"profile_image_tag" %>
　  <% else %>
　    <%= image_tag "default.jpg", class:"profile_image_tag" %>
　  <% end %>
    <div class="card-body">
      <p class="card-text text-center"><%= @user.name %>さん</p>
    </div>
  </div>
  <div class="card bg-light mb-3 user-page-profile" style="max-width: 18rem;">
    <div class="card-header"><h5><%= @user.name %></h5></div>
    <div class="card-body">
      <h5 class="card-title">自己紹介</h5>
      <h5 class="card-text"><%= current_user.description %></h5>
    </div>
  </div>
  <div class="card bg-light mb-3 user-page-friend" style="max-width: 18rem;">
    <div class="card-header"><h5>マイフレンド一覧</h5></div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h5 class="card-text"></h5>
    </div>
  </div>
  <div class="card bg-light mb-3 user-page-community" style="max-width: 18rem;">
    <div class="card-header"><h5>マイコミュニティ</h5></div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h5 class="card-text"></h5>
    </div>
  </div>
</div>