<div class="container">
  <div class="chat__show-button">
    <% if @chat.user_id == current_user.id %>
      <%= link_to '編集する', edit_community_chat_path(@community), class: "btn btn-success" %>　
      <%= link_to '削除する', community_chat_path(@community), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>　
    <% end %>
    <%= link_to 'コミュニティに戻る', community_path(@community), class: "btn btn-info" %>
  </div>
  <div class="card">
    <div class="card-header">
      タイトル　<%= @chat.title %><br>
      投稿者　　<%= @chat.user.name %>さん
    </div>
    <div class="card-body">
      <%= @chat.description %>
    </div>
  </div>
</div>