<div class="container">
  <div class="community__show-button">
    <%= link_to 'コミュニテイ一覧', communities_path, class: "btn btn-info" %>　
  </div>
  <div class="card community__sidebar">
    <div class="card-header">
      <p>管理人　さん</p>
    </div>
    <div class="card-body">
      <p>メンバー数　人</p>
      <p>開設日　<%= @community.created_at.strftime('%Y年%m月%d日')  %></p>
    </div>
  </div>
  <div class="community__information">
    <div class="card community__show-card">
      <div class="card-header"><%= @community.name %></div>
      <div class="card-body">
        <p class="card-text"><%= @community.description %></p>
      </div>
    </div>
    <%= link_to 'スレッドを作成する', new_chat_path, class: "btn btn-primary" %>
  </div>
</div>