<!DOCTYPE html>
<html>
  <head>
    <title>SnsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="container">
      <div class="header__inner">
        <h3 class="header__logo">social ties</h3>
        <div class="dropdown show">
          <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            メニュー
          </a>
          <div class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="header__list">
              <%= link_to "TOP", root_path %><br>
              <% if user_signed_in? %>
                <a href="/users/<%= current_user.id %>">マイページ</a><br>
                <a href="/users/<%= current_user.id %>/edit" %>プロフィール編集</a><br>
                <a href="#">マイフレンド</a><br>
                <%= link_to "日記", diaries_path %><br>
                <a href="#">メッセージ</a><br>
                <a href="#">マイコミュニティ</a><br>
                <div class="dropdown-divider"></div>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><br>
              <% else %>
                <div class="dropdown-divider"></div>
                <%= link_to '新規登録', new_user_registration_path %><br>
                <%= link_to 'ログイン',new_user_session_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <body>
    <%= yield %>
  </body>
</html>